<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mapa OpenStreetMap - Zalogowany</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Panel boczny -->
            <div class="col-md-3 bg-light p-4 d-flex flex-column align-items-start">
                <h4>Złota Rączka</h4>
                <h2>Witaj, {{ user_info['Imię'] }}</h2> <!-- Tutaj wyświetlamy imię użytkownika -->
                <hr>
                <button class="btn btn-primary btn-block mb-2" onclick="logout()">Wyloguj się</button>
                <button class="btn btn-success btn-block" onclick="wyszukaj()">Wyszukaj ogłoszenia</button>
                <button class="btn btn-success btn-block" onclick="myprofile()">Mój profil</button>
                <div class="form-group">
                    <label for="bufferRadius">Promień bufora (m):</label>
                    <input type="range" class="form-control-range" id="bufferRadius" min="100" max="1000" step="100" value="1000" onchange="updateBufferRadius(this.value)">
                    <span id="bufferValue">1000 m</span>
                </div>
                <hr>
                <h5>Lista ogłoszeń</h5>
                <div id="offers-list" class="w-100" style="height: 250px; overflow-y: auto;">
                    {% for offer in offers %}
                        <!-- Twój przycisk -->
                        <div id="offer-{{ offer['ID'] }}" class="ogłoszenie p-2 mb-2 border rounded" style="clear: both;">
                            <h6>{{ offer['Tytuł'] }}</h6>
                            <p><strong>Opis:</strong> {{ offer['Opis'] }}</p>
                            <p><strong>Cena:</strong> {{ offer['Cena'] }}</p>
                            <p><strong>Data dodania:</strong> {{ offer['Data dodania'] }}</p>
                            <button class="btn btn-success btn-block" onclick="acceptOffer({{ offer['ID'] }})">Przyjmij</button>
                        </div>
                        <hr> <!-- Separator -->
                    {% endfor %}
                </div>
            </div>

            <!-- Mapa -->
            <div class="col-md-9" id="map" style="height: 100vh;">
            </div>
        </div>
    </div>

    <script>
        var map; // Zmienna przechowująca obiekt mapy
        var bufferCircle; // Zmienna przechowująca obiekt koła bufora
        var userLatitude;
        var userLongitude;
        var currentRadius = 1000; // Domyślny promień bufora

        // Inicjalizacja mapy
        function initMap() {
            map = L.map('map').setView([52.23249, 21.01011], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            showUserLocation();
        }

        // Funkcja do wylogowywania
        function logout() {
            window.location.href = "/logout";
        }

        // Funkcja do wyświetlania profilu użytkownika
        function myprofile() {
            window.location.href = "/user_info";
        }

        function acceptOffer() {
            window.location.href = "/accept_offer";
        }


        // Funkcja do wyszukiwania ogłoszeń
        function wyszukaj() {
            var visibleOffers = []; // Tablica przechowująca widoczne ogłoszenia na mapie

            map.eachLayer(function(layer) {
                if (layer instanceof L.Marker) {
                    var latlng = layer.getLatLng();
                    var isVisible = map.getBounds().contains(latlng); // Sprawdź, czy znacznik jest w widoku mapy
                    if (isVisible) {
                        visibleOffers.push(layer.getPopup().getContent()); // Dodaj dane ogłoszenia do tablicy visibleOffers
                    }
                }
            });

            // Wyświetl widoczne ogłoszenia
            document.getElementById("offers-list").innerHTML = visibleOffers.join('');
        }

        // Funkcja do pobierania i wyświetlania lokalizacji użytkownika
        function showUserLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    userLatitude = position.coords.latitude;
                    userLongitude = position.coords.longitude;

                    if (userLatitude && userLongitude) {
                        var userMarker = L.marker([userLatitude, userLongitude]).addTo(map);
                        userMarker.bindPopup("<b>Tu jesteś!</b>").openPopup();

                        bufferCircle = L.circle([userLatitude, userLongitude], {
                            color: '#6633FF',
                            fillColor: '#6633FF',
                            fillOpacity: 0.2,
                            radius: currentRadius
                        }).addTo(map);

                        map.setView([userLatitude, userLongitude], 13);

                        showOffers(); // Wywołanie funkcji wyświetlającej ogłoszenia po pobraniu lokalizacji użytkownika
                    } else {
                        console.error('Nie można pobrać lokalizacji użytkownika.');
                    }
                });
            } else {
                alert("Twoja przeglądarka nie obsługuje geolokalizacji.");
            }
        }

        // Funkcja do aktualizacji promienia bufora na podstawie wartości suwaka
        function updateBufferRadius(radius) {
            document.getElementById("bufferValue").innerText = radius + " m";
            currentRadius = radius;
            bufferCircle.setRadius(radius);
            showOffers(); // Wywołaj funkcję showOffers po aktualizacji promienia bufora
        }

        // Funkcja do obliczania odległości między dwoma punktami (w metrach) za pomocą wzoru Haversine
        function calculateDistance(lat1, lon1, lat2, lon2) {
            var R = 6371000; // Promień Ziemi w metrach
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var distance = R * c;
            return distance;
        }

        // Funkcja do wyświetlania ogłoszeń na mapie
        function showOffers() {
            map.eachLayer(function (layer) {
                if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                }
            });

            fetch('/api/offers')
                .then(response => response.json())
                .then(data => {
                    var offersList = document.getElementById('offers-list');
                    offersList.innerHTML = ''; // Wyczyść listę ogłoszeń

                    data.forEach(offer => {
                        var latitude = offer.Szerokość_geograficzna;
                        var longitude = offer.Długość_geograficzna;

                        if (latitude && longitude) {
                            var distance = calculateDistance(userLatitude, userLongitude, latitude, longitude);
                            if (distance <= currentRadius) {
                                var marker = L.marker([latitude, longitude]).addTo(map);
                                marker.bindPopup(`<b>${offer.Tytuł}</b><br>${offer.Opis}<br><b>Cena:</b> ${offer.Cena} PLN<br><button class="btn btn-success btn-block" onclick="acceptOffer(${offer.ID})">Przyjmij</button>`);

                                // Dodaj ogłoszenie do listy ogłoszeń
                                var offerDiv = document.createElement('div');
                                offerDiv.className = 'ogłoszenie p-2 mb-2 border rounded';
                                offerDiv.innerHTML = `
                                    <h6>${offer.Tytuł}</h6>
                                    <p><strong>Opis:</strong> ${offer.Opis}</p>
                                    <p><strong>Cena:</strong> ${offer.Cena}</p>
                                    <p><strong>Data dodania:</strong> ${offer.Data_dodania}</p>
                                    <button class="btn btn-success btn-block" onclick="acceptOffer(${offer.ID})">Przyjmij</button>
                                `;
                                offersList.appendChild(offerDiv);
                            }
                        } else {
                            console.error('Invalid LatLng object:', offer);
                        }
                    });
                })
                .catch(error => console.error('Error fetching offers:', error));
        }

        // Funkcja do akceptowania oferty
        function acceptOffer(offerId) {
            // Wysyłamy zapytanie POST do /accept_offer za pomocą AJAX
            fetch('/accept_offer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'offer_id': offerId
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Wystąpił problem podczas akceptowania oferty.');
                }
                return response.json();
            })
            .then(data => {
                alert(data.message); // Wyświetlamy komunikat
                // Tutaj możesz wykonać dodatkowe akcje, np. odświeżenie listy ofert
            })
            .catch(error => {
                alert(error.message); // Wyświetlamy błąd
            });
        }


        // Inicjalizacja mapy po załadowaniu strony
        document.addEventListener('DOMContentLoaded', function() {
            initMap();
        });
    </script>
</body>
</html>
