<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mapa OpenStreetMap - Zalogowany</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        /* Dodatkowa stylizacja */
        body {
            padding-top: 70px; /* Wartość zgodna z navbar-em Bootstrapa */
            padding-right: 10px;
            margin: 0;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" href="#">Złota Rączka</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <button class="btn btn-secondary mb-2" onclick="myprofile()">Mój profil</button>
                            </li>
                            <li class="nav-item">
                                <span class="ml-2"></span>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-secondary mb-2" onclick="logout()">Wyloguj się</button>
                            </li>
                        </ul>
                    </div>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Panel boczny -->
            <div class="col-md-3 bg-light p-4 d-flex flex-column align-items-start">
                <h2>Witaj, {{ user_info['Imię'] }}</h2> <!-- Tutaj wyświetlamy imię użytkownika -->
                <hr>
                <div class="form-group">
                    <label for="bufferRadius">Promień bufora (m):</label>
                    <input type="range" class="form-control-range" id="bufferRadius" min="100" max="5000" step="100" value="2000" onchange="updateBufferRadius(this.value)">
                    <span id="bufferValue">2000 m</span>
                </div>
                <hr>
                <button class="btn btn-success btn-block" onclick="add_offer()">Dodaj ogłoszenie</button>


                <!-- Okno informacyjne o przyjęciu zlecenia -->
                {% if user_info['role'] == 'zleceniodawca' %}
                <div id="offerAcceptReject" class="alert alert-success mt-3" role="alert" style="display: none;">
                    Zlecenie zostało zaakceptowane przez fachowca!
                    <button class="btn btn-success mt-2" onclick="agreeonOffer()">Zaakceptuj</button>
                    <button class="btn btn-danger mt-2" onclick="rejectOffer()">Odrzuć</button>
                </div>

                {% endif %}
            </div>

            <!-- Mapa -->
            <div class="col-md-9" id="map" style="height: 88vh;">
            </div>
        </div>
    </div>

    <script>
        var map; // Zmienna przechowująca obiekt mapy
        var bufferCircle; // Zmienna przechowująca obiekt koła bufora
        var userLatitude;
        var userLongitude;
        var currentRadius = 2000; // Domyślny promień bufora

        // Inicjalizacja mapy
        function initMap() {
        map = L.map('map').setView([52.23249, 21.01011], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/satellite-streets-v11', // Możesz zmienić styl mapy tutaj
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibGl0dGxld2FmZXIiLCJhIjoiY2x3a2c2ZDQxMDNoZzJxbnhjdXF5M2drZSJ9._CQaHDuvldiRrFkXmuihzA'
        }).addTo(map);

        showUserLocation();
    }

        // Funkcja do wylogowywania
        function logout() {
            window.location.href = "/logout";
        }

        // Funkcja do dodawania ogłoszenia
        function add_offer() {
            window.location.href = "/add_offer";
        }

        function agreeonOffer() {
            window.location.href = "/agreeon_offer";
        }

        function rejectoffer() {
            window.location.href = "/reject_offer";
        }

        function myprofile() {
            window.location.href = "/user_info";
        }

        // Funkcja do pobierania i wyświetlania lokalizacji użytkownika
        function showUserLocation() {
            if ("geolocation" in navigator) {
                // Pobierz aktualną lokalizację użytkownika
                // Pobierz aktualną lokalizację użytkownika
navigator.geolocation.getCurrentPosition(function(position) {
    userLatitude = position.coords.latitude;
    userLongitude = position.coords.longitude;

    // Sprawdź, czy userLatitude i userLongitude są zdefiniowane
    if (userLatitude && userLongitude) {
        // Utwórz znacznik na mapie w lokalizacji użytkownika
        var userMarker = L.marker([userLatitude, userLongitude]).addTo(map);
        userMarker.bindPopup("<b>Tu jesteś!</b>").openPopup();

        // Narysuj początkowy filetowy bufor o promieniu 1000m wokół lokalizacji użytkownika
        bufferCircle = L.circle([userLatitude, userLongitude], {
            color: '#6633FF',
            fillColor: '#6633FF',
            fillOpacity: 0.2,
            radius: currentRadius
        }).addTo(map);

        // Przesuń mapę do lokalizacji użytkownika
        map.setView([userLatitude, userLongitude], 13);

<!--        // showOffers(); // Wywołanie funkcji wyświetlającej ogłoszenia po pobraniu lokalizacji użytkownika-->
    } else {
        console.error('Nie można pobrać lokalizacji użytkownika.');
    }


                });
            } else {
                alert("Twoja przeglądarka nie obsługuje geolokalizacji.");
            }
        }

        // Funkcja do aktualizacji promienia bufora na podstawie wartości suwaka
        function updateBufferRadius(radius) {
            document.getElementById("bufferValue").innerText = radius + " m";
            currentRadius = radius;
            bufferCircle.setRadius(radius);
<!--            showOffers(); // Wywołaj funkcję showOffers po aktualizacji promienia bufora-->
        }

         // Funkcja do obliczania odległości między dwoma punktami (w metrach) za pomocą wzoru Haversine
        function calculateDistance(lat1, lon1, lat2, lon2) {
            var R = 6371000; // Promień Ziemi w metrach
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var distance = R * c;
            return distance;
        }

        function showOffers() {
    map.eachLayer(function (layer) {
        if (layer instanceof L.Marker) {
            map.removeLayer(layer);
        }
    });

    fetch('/api/offers')
        .then(response => response.json())
        .then(data => {
            data.forEach(offer => {
                var latitude = offer.Szerokość_geograficzna;
                var longitude = offer.Długość_geograficzna;

                if (latitude && longitude) {
                    var distance = calculateDistance(userLatitude, userLongitude, latitude, longitude);
                    if (distance <= currentRadius) {
                        var marker = L.marker([latitude, longitude]).addTo(map);
                        marker.bindPopup(`<b>${offer.Tytuł}</b><br>${offer.Opis}<br><b>Cena:</b> ${offer.Cena} PLN`);
                    }
                } else {
                    console.error('Invalid LatLng object:', offer);
                }
            });
        })
        .catch(error => console.error('Error fetching offers:', error));
}

        // Wywołaj funkcję initMap po załadowaniu strony
        window.onload = function() {
            initMap();
        };
    </script>

    <!-- Bootstrap JS, popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>